---

# Sudo tasks

- name: Create include directories for sudo
  become: True
  file:
    path: "/etc/sudoers.d/{{ item }}"
    state: directory
    group: root
    owner: root
    mode: "0755"
  with_items: "{{ account_management_sudo_directories }}"


- name: Add include rules for new sudo directories
  become: True
  lineinfile:
    dest: "/etc/sudoers"
    line: "#includedir /etc/sudoers.d/{{ item }}"
  with_items: "{{ account_management_sudo_directories }}"


- name: Add sudo rules for groups and users
  become: True
  template:
    src: "{{ role_path }}/templates/sudoers_rules.j2"
    dest: "/etc/sudoers.d/{{ item.sudo_sub_dir }}/{{ item.name }}"
  with_items:
    - "{{ account_management_groups }}"
    - "{{ account_management_users }}"

