---

# Debian install tasks

- name: Install account management packages
  become: True
  apt:
    name: "{{ item }}"
    state: present
    update_cache: True
    cache_valid_time: 3600
  with_items: "{{ account_management_packages }}"

